@using Microsoft.AspNetCore.Identity
@model IdentityRole

@{
    ViewData["Title"] = "Deletar";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<div class="container mt-3">
    <h1 class="fw-bold display-2 text-white mb-3">@ViewData["Title"]</h1>
    <h4 class="fw-bold display-4 text-white mb-3">Role: @Model.Name</h4>
</div>

<img class="position-absolute object-fit-cover w-100 h-50 top-0 z-n1" src="~/img/art.jpg" alt="Arte ilustrativa" />

<div class="bg-white container rounded table-responsive p-4">
    <table class="table col-2 text-center align-middle">
        <thead>
            <tr>
                <th class="col-6 text-end">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="col-6 text-start">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-end">
                    @Model.Id
                </td>
                <td class="col-6 text-start">
                    @Model.Name
                </td>
            </tr>
        </tbody>
    </table>

        <form asp-action="Delete" class="form-group d-flex justify-content-between">
        <a class="btn btn-secondary text-white w-25" asp-action="Index">Voltar</a>
            <input type="hidden" asp-for="Id" />
            @* <input type="submit" value="Delete" class="btn btn-danger w-25" />  *@
        <a type="button" class="btn btn-danger w-25" ms-2" data-bs-toggle="modal" data-bs-target="#delete" data-task-id="@Model.Id">
            Deletar
        </a>

        </form>


    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-none">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Tem certeza que deseja deletar?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Esta operação não poderá ser desfeita.
                </div>
                <div class="modal-footer">
 
                    <form asp-action="Delete" class="form-group d-flex gap-1 justify-content-between">
                        <a class="btn btn-secondary text-white" asp-action="Index">Voltar</a>
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> 

                    </form>


                </div>
            </div>
        </div>
    </div>


</div>