@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Role";
    Layout = "~/Views/Shared/_LayoutCRUD.cshtml";
}

@{
    if (TempData["SuccessMessage"] != null)
    {
        <div class="sucesso">
            <div class="alert alert-success d-flex align-items-center shadow alert-dismissible fade show position-fixed bottom-0 end-0 p-3 m-3 rounded" role="alert">
                <i class="bi bi-check-lg fs-1 me-3"></i>
                <div>
                    <div class="alert-heading align-items-center">
                        <strong class="me-4 pe-1">@TempData["SuccessMessage"]</strong>
                        <small type="button" class="btn-close align-items-center" data-bs-dismiss="alert" aria-label="Close"></small>
                    </div>
                    Você pode encontrá-la na tabela.
                </div>
            </div>
        </div>
    }
    if (TempData["SuccessMessage2"] != null)
    {
        <div class="sucesso">
            <div class="alert alert-success d-flex align-items-center shadow alert-dismissible fade show position-fixed bottom-0 end-0 p-3 m-3 rounded" role="alert">
                <i class="bi bi-check-lg fs-1 me-3"></i>
                <div>
                    <div class="alert-heading align-items-center">
                        <strong class="me-4 pe-1">@TempData["SuccessMessage2"]</strong>
                        <small type="button" class="btn-close align-items-center" data-bs-dismiss="alert" aria-label="Close"></small>
                    </div>
                    Você pode encontrá-la na tabela.
                </div>
            </div>
        </div>
    }
}
<div class="container mt-3">
    <h1 class="fw-bold display-2 text-white mb-3">@ViewData["Title"]</h1>
    <div class="row my-3">
        <form class="col-5" asp-action="Index" method="get">
            <div class="form-actions input-group">
                <input type="text" class="form-control col-3" id="roleName" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Burcar por Id ou nome" />
                <input class="btn btn-outline-primary" type="submit" value="Procurar" />
                <a class="btn btn-outline-primary align-content-center" asp-action="Index">Lista completa</a>
            </div>
        </form>
        <div class="col d-flex justify-content-end">
            <a asp-action="Create" class="btn btn-primary text-white"><i class="bi bi-plus-lg"></i> Nova Role</a>
        </div>
    </div>
</div>

<img class="position-absolute object-fit-cover w-100 h-20rem top-0 z-n1" src="~/img/ArtHz.jpg" alt="Arte ilustrativa" />


<div class="bg-white  container rounded table-responsive">
    <table class="table text-center align-middle">
        <thead>
            <tr>
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="col-4">
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th class="col-2">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="text-primary fs-5" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pen"></i></a>
                        @* <a class="text-primary fs-5" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle"></i></a> *@
                        <a type="button" class="text-primary fs-5 mx-2" data-bs-toggle="modal" data-bs-target="#detail-@item.Id" data-task-id="@item.Id">
                            <i class="bi bi-info-circle"></i>
                        </a>

                        <a type="button" class="text-primary fs-5" data-bs-toggle="modal" data-bs-target="#delete-@item.Id" data-task-id="@item.Id">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>

                </tr>

                @* Detail Modal *@
                <div class="modal fade" id="detail-@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header align-items-center">
                                <h3 class="text-primary fw-bold ">Detalhes da Role</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Id)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </dd>
                                </dl>
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-lg btn-primary w-100 fw-bold" asp-action="Edit" asp-route-id="@item.Id"> Editar</a>
                            </div>
                        </div>
                    </div>
                </div>

                @* Delete Modal *@
                <div class="modal fade" id="delete-@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header align-items-center">
                                <h3 class="text-primary fw-bold ">Deletar Role</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h4>Tem certeza de que deseja deletar?</h4>
                                <p class="text-danger lh-1 mb-4">*Esta operação não poderá ser desfeita*</p>
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Id)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </dd>
                                </dl>
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-lg btn-danger w-100 fw-bold" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#roleName").autocomplete({
                source: 'api/autocomplete/identitySearch',
            })
        })
    </script>

}