@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Role";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}



<div class="container mt-3">
    <h1 class="fw-bold display-2 text-white mb-3">@ViewData["Title"]</h1>
    <div class="d-flex align-items-center justify-content-between my-3">


        <form asp-action="Index" method="get">
            <div class="form-actions input-group">
                <input type="text" class="form-control col-3" id="roleName" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Id ou nome" />
                <input class="btn btn-outline-primary" type="submit" value="Procurar" />
                <div class="input-group-append">

                <a class="btn btn-outline-primary align-content-center" asp-action="Index">Lista completa</a>
                </div>
            </div>
        </form>






        <a asp-action="Create" class="btn btn-secondary text-white"><i class="bi bi-plus-lg"></i> Nova Role</a>
    </div>
</div>

<img class="position-absolute object-fit-cover w-100 h-50 top-0 z-n1" src="~/img/art.jpg" alt="Arte ilustrativa" />

<div class="bg-white  container rounded table-responsive">
    <table class="table text-center align-middle">
        <thead>
            <tr>
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="col-4">
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th class="col-2">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="text-primary fs-5" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pen"></i></a>
                        <a class="text-primary fs-5 mx-2" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle"></i></a>
                        <a type="button" class="text-primary fs-5" data-bs-toggle="modal" data-bs-target="#delete" data-task-id="@item.Id">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                
                </tr>
                <!-- Modal -->
                <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header border-none">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Tem certeza que deseja deletar?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Esta operação não poderá ser desfeita.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Close</button>
                                <a type="button" class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i> Deletar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#roleName").autocomplete({
                source: '@Url.Action("AutoComplete", "Roles")',
            })
        })
    </script>

}