@model IEnumerable<MyTE.Models.ViewModel.AdminRecordViewModel>

@{
    ViewData["Title"] = "Relatórios";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Period</th>
            <th>Total Hours</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <td>@record.UserEmail</td>
                <td>@record.StartDate.ToString("dd/MM/yyyy") - @record.EndDate.ToString("dd/MM/yyyy")</td>
                <td>@record.TotalHours</td>
                <td>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#details_@record.UserEmail" aria-expanded="false" aria-controls="details_@record.UserEmail">
                        View Details
                    </button>
                    <div class="collapse" id="details_@record.UserEmail">
                        <div class="card card-body">
                            <ul>
                                @foreach (var detail in record.RecordsWithWBS)
                                {
                                    <li>@detail.Data.ToString("dd/MM/yyyy"): @detail.Hours hours - WBS: @detail.WBSName - @detail.WBSDescription</li>
                                }
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
