@model IEnumerable<MyTE.DTO.RecordDTO>

@{
    ViewData["Title"] = "Registro de horas";
    Layout = "~/Views/Shared/_LayoutCRUD.cshtml";
}
@{
    if (this.User.IsInRole("user"))
    {
        Layout = "~/Views/Shared/_LayoutCRUD2.cshtml";

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="sucesso">
                <div class="alert alert-success d-flex align-items-center shadow alert-dismissible fade show position-fixed bottom-0 end-0 p-3 m-3 z-3 rounded" role="alert">
                    <i class="bi bi-check-lg fs-1 me-3"></i>
                    <div>
                        <div class="alert-heading align-items-center">
                            <strong class="me-4 pe-1">@TempData["SuccessMessage"]</strong>
                            <small type="button" class="btn-close align-items-center" data-bs-dismiss="alert" aria-label="Close"></small>
                        </div>
                        Você pode encontrá-lo na tabela.
                    </div>
                </div>
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="erro">
                <div class="alert alert-danger d-flex align-items-center shadow alert-dismissible fade show position-fixed bottom-0 end-0 p-3 m-3 z-3 rounded" role="alert">
                    <i class="bi bi-exclamation-triangle-fill fs-1 me-3"></i>
                    <div>
                        <div class="alert-heading align-items-center">
                            <strong class="me-4 pe-1">@TempData["ErrorMessage"]</strong>
                            <small type="button" class="btn-close align-items-center" data-bs-dismiss="alert" aria-label="Close"></small>
                        </div>
                        @TempData["ErrorMessageText"] <br />
                        @TempData["ErrorMessageText2"]
                    </div>
                </div>
            </div>
        }

        <div class="container mt-4">
            <h1 class="fw-bold display-3 mb-3 text-white">Registro de Horas</h1>
            <div class="d-flex justify-content-start position-absolute" aria-label="Navegação de Data">
                <form asp-action="Navigate" method="post" class="">
                    <input type="hidden" name="direction" value="previous" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-left"></i></button>
                </form>

                <form asp-action="Index" method="post" class="mx-2">
                    <div class="input-group">
                        <input type="date" name="dataSearch" class="text-center form-control" />
                        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                    </div>
                </form>

                <form asp-action="Navigate" method="post" class="">
                    <input type="hidden" name="direction" value="next" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-right"></i></button>
                </form>
            </div>
        </div>

        <img class="position-absolute object-fit-cover w-100 h-20rem top-0 z-n1" src="~/img/ArtHz2.jpg" alt="Arte ilustrativa" />

        <form class="container" asp-action="Persist" method="post">
            <p class="d-flex justify-content-end mb-2">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </p>
            <div class="table-responsive bg-white border rounded-3 mt-3">
                <table class="table align-middle text-center table-bordered mb-0">
                    <thead>
                        <tr class="table-secondary align-middle">
                            <th>WBS</th>
                            @foreach (var record in Model.First().records)
                            {
                                var culture = new System.Globalization.CultureInfo("pt-BR");
                                var dayOfWeek = record.Data.ToString("ddd", culture);
                                var date = record.Data.ToString("dd/MM", culture);

                                <th class="@(record.Data.DayOfWeek == DayOfWeek.Saturday || record.Data.DayOfWeek == DayOfWeek.Sunday ? "table-secondary" : "")">
                                    <span class="fw-normal text-secondary">@dayOfWeek</span>
                                    <small class=" fw-bold">@date</small>
                                </th>
                            }
                            <th class="col-1">Total WBS</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            var item = Model.ElementAt(i);
                            <tr>
                                <td class="col-2">
                                    <select name="listRecordDTO[@i].WBSId" class="form-control border-0 px-1 text-center" onchange="updateWBSId(this, @i)">
                                        <option value="0">-------</option>
                                        @foreach (var wbs in ViewBag.WBSList as List<SelectListItem>)
                                        {
                                            <!option value="@wbs.Value" @(item.WBS.WBSId.ToString() == wbs.Value ? "selected" : "")>@wbs.Text</!option>
                                        }
                                    </select>
                                </td>
                                @for (int j = 0; j < item.records.Count(); j++)
                                {
                                    var record = Model.ElementAt(i).records.ElementAt(j);
                                    <td class="@(record.Data.DayOfWeek == DayOfWeek.Saturday || record.Data.DayOfWeek == DayOfWeek.Sunday ? "table-secondary" : "")">
                                        <input type="text"
                                               value="@(record.Hours == 0 ? "" : record.Hours.ToString())"
                                               name="listRecordDTO[@i].records[@j].visibleHours"
                                               onchange="updateHiddenInput(this, '@i', '@j')"
                                               class="form-control border-0 px-0 text-center @(record.Data.DayOfWeek == DayOfWeek.Saturday || record.Data.DayOfWeek == DayOfWeek.Sunday ? "bg-transparent d-none" : "")"
                                               oninput="updateTotal(@i, @j)"
                                        @(record.Data.DayOfWeek == DayOfWeek.Saturday || record.Data.DayOfWeek == DayOfWeek.Sunday ? "disabled" : "") />

                                        <input type="hidden" id="recordHours_@i-@j"
                                               name="listRecordDTO[@i].records[@j].Hours"
                                               value="@record.Hours" class="form-control" />

                                        <input type="hidden" name="listRecordDTO[@i].records[@j].UserId"
                                               value="@record.UserId" class="form-control" />

                                        <input type="hidden" id="recordWBSId_@i-@j"
                                               name="listRecordDTO[@i].records[@j].WBSId"
                                               value="@item.WBS.WBSId" class="form-control" />

                                        <input type="hidden" name="listRecordDTO[@i].records[@j].Data"
                                               value="@record.Data" class="form-control" />
                                        <input type="hidden" name="listRecordDTO[@i].records[@j].SubmissionDate"
                                               value="@record.SubmissionDate" class="form-control" />
                                    </td>
                                }
                                <td>
                                    <span class="fw-bold" id="totalWBS_@i">0.0</span>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td class="fw-bold">Total Dia</td>
                            @for (int i = 0; i <= 15; i++)
                            {
                                <td class="fw-bold">
                                    <input type="hidden" class="form-control fw-bold" value="@(Model.First().TotalHoursDay[@i])" readonly />
                                    <span class="fw-bold" id="totalDay_@i">0.0</span>
                                    <div id="errorDay1_@i" class="invalid-tooltip" style="display: none; top:initial;">A soma das horas trabalhadas em um dia não pode ultrapassar 24h.</div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    }
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="sucesso">
        <div class="alert alert-success d-flex align-items-center shadow alert-dismissible fade show position-fixed bottom-0 end-0 p-3 m-3 z-3 rounded" role="alert">
            <i class="bi bi-check-lg fs-1 me-3"></i>
            <div>
                <div class="alert-heading align-items-center">
                    <strong class="me-4 pe-1">@TempData["SuccessMessage"]</strong>
                    <small type="button" class="btn-close align-items-center" data-bs-dismiss="alert" aria-label="Close"></small>
                </div>
                Você pode encontrá-lo na tabela.
            </div>
        </div>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="erro">
        <div class="alert alert-danger d-flex align-items-center shadow alert-dismissible fade show position-fixed bottom-0 end-0 p-3 m-3 z-3 rounded" role="alert">
            <i class="bi bi-exclamation-triangle-fill fs-1 me-3"></i>
            <div>
                <div class="alert-heading align-items-center">
                    <strong class="me-4 pe-1">@TempData["ErrorMessage"]</strong>
                    <small type="button" class="btn-close align-items-center" data-bs-dismiss="alert" aria-label="Close"></small>
                </div>
                @TempData["ErrorMessageText"] <br />
                @TempData["ErrorMessageText2"]
            </div>
        </div>
    </div>
}

<div class="container mt-4">
    <h1 class="fw-bold display-3 mb-3 text-white">Registro de Horas</h1>
    <div class="d-flex justify-content-start position-absolute" aria-label="Navegação de Data">
        <form asp-action="Navigate" method="post" class="">
            <input type="hidden" name="direction" value="previous" />
            <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-left"></i></button>
        </form>

        <form asp-action="Index" method="post" class="mx-2">
            <div class="input-group">
                <input type="date" name="dataSearch" class="text-center form-control" />
                <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
            </div>
        </form>

        <form asp-action="Navigate" method="post" class="">
            <input type="hidden" name="direction" value="next" />
            <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-right"></i></button>
        </form>
    </div>
</div>

<img class="position-absolute object-fit-cover w-100 h-20rem top-0 z-n1" src="~/img/ArtHz2.jpg" alt="Arte ilustrativa" />

<form class="container" asp-action="Persist" method="post">
    <p class="d-flex justify-content-end mb-2">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </p>
    <div class="table-responsive bg-white border rounded-3 mt-3">
        <table class="table align-middle text-center table-bordered mb-0">
            <thead>
                <tr class="table-secondary align-middle">
                    <th>WBS</th>
                    @foreach (var record in Model.First().records)
                    {
                        var culture = new System.Globalization.CultureInfo("pt-BR");
                        var dayOfWeek = record.Data.ToString("ddd", culture);
                        var date = record.Data.ToString("dd/MM", culture);

                        <th class="@(record.Data.DayOfWeek == DayOfWeek.Saturday || record.Data.DayOfWeek == DayOfWeek.Sunday ? "table-secondary" : "")">
                            <span class="fw-normal text-secondary">@dayOfWeek</span>
                            <small class=" fw-bold">@date</small>
                        </th>
                    }
                    <th class="col-1">Total WBS</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var item = Model.ElementAt(i);
                    <tr>
                        <td class="col-2">
                            <select name="listRecordDTO[@i].WBSId" class="form-control border-0 px-1 text-center" onchange="updateWBSId(this, @i)">
                                <option value="0">-------</option>
                                @foreach (var wbs in ViewBag.WBSList as List<SelectListItem>)
                                {
                                    <!option value="@wbs.Value" @(item.WBS.WBSId.ToString() == wbs.Value ? "selected" : "")>@wbs.Text</!option>
                                }
                            </select>
                        </td>
                        @for (int j = 0; j < item.records.Count(); j++)
                        {
                            var record = Model.ElementAt(i).records.ElementAt(j);
                            <td class="@(record.Data.DayOfWeek == DayOfWeek.Saturday || record.Data.DayOfWeek == DayOfWeek.Sunday ? "table-secondary" : "")">
                                <input type="text"
                                       value="@(record.Hours == 0 ? "" : record.Hours.ToString())"
                                       name="listRecordDTO[@i].records[@j].visibleHours"
                                       onchange="updateHiddenInput(this, '@i', '@j')"
                                       class="form-control border-0 px-0 text-center @(record.Data.DayOfWeek == DayOfWeek.Saturday || record.Data.DayOfWeek == DayOfWeek.Sunday ? "bg-transparent d-none" : "")"
                                       oninput="updateTotal(@i, @j)"
                                @(record.Data.DayOfWeek == DayOfWeek.Saturday || record.Data.DayOfWeek == DayOfWeek.Sunday ? "disabled" : "") />

                                <input type="hidden" id="recordHours_@i-@j"
                                       name="listRecordDTO[@i].records[@j].Hours"
                                       value="@record.Hours" class="form-control" />

                                <input type="hidden" name="listRecordDTO[@i].records[@j].UserId"
                                       value="@record.UserId" class="form-control" />

                                <input type="hidden" id="recordWBSId_@i-@j"
                                       name="listRecordDTO[@i].records[@j].WBSId"
                                       value="@item.WBS.WBSId" class="form-control" />

                                <input type="hidden" name="listRecordDTO[@i].records[@j].Data"
                                       value="@record.Data" class="form-control" />
                                <input type="hidden" name="listRecordDTO[@i].records[@j].SubmissionDate"
                                       value="@record.SubmissionDate" class="form-control" />
                            </td>
                        }
                        <td>
                            <span class="fw-bold" id="totalWBS_@i">0.0</span>
                        </td>
                    </tr>
                }
                <tr>
                    <td class="fw-bold">Total Dia</td>
                    @for (int i = 0; i < Model.First().TotalHoursDay.Length; i++)
                    {
                        <td class="fw-bold">
                            <input type="hidden" class="form-control fw-bold" value="@(Model.First().TotalHoursDay[@i])" readonly />
                            <span class="fw-bold" id="totalDay_@i">0.0</span>
                            <div id="errorDay1_@i" class="invalid-tooltip" style="display: none; top:initial;">A soma das horas trabalhadas em um dia não pode ultrapassar 24h.</div>
                        </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
    @if (TempData["LastSubmissionDate"] != null)
    {
        <span class="fw-light d-flex justify-content-end mb-2 text-secondary">@TempData["LastSubmissionDate"]</span>
    }
</form>


<script>
    function updateWBSId(selectElement, index) {
        var selectedWBSId = selectElement.value;
        var hiddenInputIds = document.querySelectorAll(`[id^="recordWBSId_${index}-"]`);

        hiddenInputIds.forEach(function (input) {
            input.value = selectedWBSId;
        });
    }


    function updateHiddenInput(visibleInput, i, j) {
        var hiddenInput = document.getElementById('recordHours_' + i + '-' + j);
        if (visibleInput.value.trim() === "") {
            hiddenInput.value = 0;
        } else {
            hiddenInput.value = visibleInput.value;
        }
    }

    function updateTotal(rowIndex, colIndex) {
        updateRowTotal(rowIndex);
        updateColumnTotal(colIndex);
    }

    function updateRowTotal(rowIndex) {
        var totalWBS = 0;
        var rowInputs = document.querySelectorAll(`[name^='listRecordDTO[${rowIndex}].records']`);
        rowInputs.forEach(input => {
            if (input.type === 'text' && !input.readOnly) {
                var value = parseFloat(input.value);
                if (!isNaN(value)) {
                    totalWBS += value;
                }
            }
        });
        document.getElementById(`totalWBS_${rowIndex}`).innerText = totalWBS.toFixed(1);
    }

    function updateColumnTotal(colIndex) {
        var totalDay = 0;
        var colInputs = document.querySelectorAll(`[name$='records[${colIndex}].visibleHours']`);
        colInputs.forEach(input => {
            var value = parseFloat(input.value);
            if (!isNaN(value)) {
                totalDay += value;
            }
        });

        var totalDayElement = document.getElementById(`totalDay_${colIndex}`);
        totalDayElement.innerText = totalDay.toFixed(1);

        var errorElement = document.getElementById(`errorDay1_${colIndex}`);
        if (totalDay > 24) {
            totalDayElement.classList.add("text-danger", "fw-bold");
            errorElement.style.display = "block";
        } else {
            totalDayElement.classList.remove("text-danger", "fw-bold");
            errorElement.style.display = "none";
        }

    }

    function updateTotalsOnLoad() {
        var rowCount = @Model.Count();
        var colCount = @Model.First().records.Count();

        for (var rowIndex = 0; rowIndex < rowCount; rowIndex++) {
            updateRowTotal(rowIndex);
        }

        for (var colIndex = 0; colIndex < colCount; colIndex++) {
            updateColumnTotal(colIndex);
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        updateTotalsOnLoad();
    });

</script>
