@model IEnumerable<MyTE.DTO.RecordDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro de Horas</h1>

<form asp-action="Index" method="post">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label>Data</label>
                <input type="date" name="dataSearch" class="form-control" />
            </div>
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
    </div>
</form>

<form asp-action="Persist" method="post">
    <table class="table">
        <thead>
            <tr>
                <th class="col-wbs">WBS</th>
                @foreach (var record in Model.First().records)
                {
                    <th>@Html.DisplayFor(modelItem => record.Data.Day)/@Html.DisplayFor(modelItem => record.Data.Month)</th>
                }
                <th>Total WBS</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 4; i++) // Substitui uma linha para cada WBS por 4 linhas onde podem ser escolhidas as WBS através de um select
            {
                <tr>
                    <td>
                        <select name="listRecordDTO[@i].WBSId" class="form-control">
                            <option>Selecione a WBS</option>
                            @foreach (var wbs in ViewBag.WBSList)
                            {
                                <option value="@wbs.WBSId">@wbs.Code - @wbs.Desc</option>
                            }
                        </select>
                    </td>
                    @for (int j = 0; j < Model.First().records.Count(); j++)
                    {
                        var record = Model.First().records.ElementAt(j);
                        <td>
                            @if (record.Data.DayOfWeek == DayOfWeek.Saturday || record.Data.DayOfWeek == DayOfWeek.Sunday)
                            {
                                <input type="text" value="" class="form-control bg-secondary-subtle" readonly />
                            }
                            else
                            {
                                <input type="text" value="" name="listRecordDTO[@i].records[@j].Hours" class="form-control" oninput="updateTotal(@i, @j)" />
                                <input type="hidden" name="listRecordDTO[@i].records[@j].UserId" value="@record.UserId" class="form-control" />
                                <input type="hidden" name="listRecordDTO[@i].records[@j].WBSId" value="" class="form-control" />
                                <input type="hidden" name="listRecordDTO[@i].records[@j].Data" value="@record.Data" class="form-control" />
                            }
                        </td>
                    }
                    <td>
                        <span id="totalWBS_@i">0.00</span>
                    </td>
                </tr>
            }
            <tr>
                <td class="fw-bold">Total Dia</td>
                @for (int i = 0; i < Model.First().records.Count(); i++)
                {
                    <td>
                        <span id="totalDay_@i">0.00</span>
                        <div id="errorDay_@i" class="text-danger" style="display: none;">A soma das horas trabalhadas em um dia não pode ultrapassar 24h.</div>
                    </td>
                }
                <td></td>
            </tr>
        </tbody>
    </table>
    <p>
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </p>
</form>

<script>
    function updateTotal(rowIndex, colIndex) {
        var totalWBS = 0;
        var totalDay = 0;

        // Atualiza o total da linha (soma de horas da WBS)
        var rowInputs = document.querySelectorAll(`[name^='listRecordDTO[${rowIndex}].records']`);
        rowInputs.forEach(input => {
            if (input.type === 'text' && !input.readOnly) {
                var value = parseFloat(input.value);
                if (!isNaN(value)) {
                    totalWBS += value;
                }
            }
        });
        document.getElementById(`totalWBS_${rowIndex}`).innerText = totalWBS.toFixed(2);

        // Atualiza o total da coluna (soma do dia)
        var colInputs = document.querySelectorAll(`[name$='records[${colIndex}].Hours']`);
        colInputs.forEach(input => {
            var value = parseFloat(input.value);
            if (!isNaN(value)) {
                totalDay += value;
            }
        });

        var totalDayElement = document.getElementById(`totalDay_${colIndex}`);
        totalDayElement.innerText = totalDay.toFixed(2);

        // Verifica se a quantidade de horas não ultrapassa 24h por dia
        var errorElement = document.getElementById(`errorDay_${colIndex}`);

        if (totalDay > 24) {
            totalDayElement.classList.add("text-danger", "fw-bold");
            errorElement.style.display = "block";
        } else {
            totalDayElement.classList.remove("text-danger", "fw-bold");
            errorElement.style.display = "none";
        }
    }
</script>

<style>
    .col-wbs {
        width: 20%;
    }
</style>