@{
    ViewData["Title"] = "Relatório de WBS";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container d-flex justify-content-between align-items-end mt-3">
    <div class="d-flex flex-column">
        <a class="text-white fs-5 text-decoration-none" asp-action="AdminViewWBS">
            <i class="bi bi-arrow-left-short fs-3"></i>Voltar
        </a>
        <h1 class="fw-bold display-2 text-white">@ViewData["Title"]</h1>
    </div>
    @if (ViewBag.IsEmpty)
    {
        <div class="my-3">
            <form asp-action="ExportWBSDetails" asp-route-id="@ViewBag.WBS.WBSId">
                <button type="submit" class="btn btn-success" disabled>Gerar CSV</button>
            </form>
        </div>
    }
    else
    {
       <div class="my-3">
            <form asp-action="ExportWBSDetails" asp-route-id="@ViewBag.WBS.WBSId">
                <button type="submit" class="btn btn-success">Gerar CSV</button>
           </form>
       </div>
        
    }
</div>
<img class="position-absolute object-fit-cover w-100 h-50 top-0 z-n1" src="~/img/ArtHz.jpg" alt="Arte ilustrativa" />

<div class="bg-white container rounded-top text-center pt-3 pb-2">
    <div class="row">
        <div class="col">
            <h5>WBS: @ViewBag.WBS.Desc</h5>
        </div>
    </div>
</div>

<div class="bg-white container rounded-bottom table-responsive">
    <table class="table text-center align-middle">
        <thead>
            <tr>
                <th colspan="2">Quinzenas</th>
                <th colspan="3">Total de Horas</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @{
                if (ViewBag.IsEmpty)
                {
                    <tr>
                        <td colspan="5"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="5">Ainda não há nenhum registro de horas nesta WBS!</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                        <td></td>
                    </tr>
                }
                else
                {
                    foreach (var item in ViewBag.HorasPorQuinzena)
                    {
                        // Verifica se o item é nulo,
                        var inicioQuinzena = item.Key.StartDate.ToString("dd/MM/yyyy") as string ?? "Sem data";
                        var fimQuinzena = item.Key.EndDate.ToString("dd/MM/yyyy") as string ?? "Sem data";
                        var totalHoras = item.Value as double? ?? 0;

                        <tr>
                            <td colspan="1">@inicioQuinzena</td>
                            <td colspan="1">@fimQuinzena</td>
                            <td colspan="3">@totalHoras</td>
                            <td></td>
                        </tr>
                    }
                }
            }
            <tr class="table-secondary">
                <td colspan="3"><strong>Total de Horas</strong></td>
                <td colspan="2"><strong>@ViewBag.TotalHoras</strong></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>