@model MyTE.Models.ViewModel.RecordDetailsViewModel

@{
    ViewData["Title"] = "Relatório";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container d-flex justify-content-between align-items-end mt-3">
    <div class="d-flex flex-column">
        <a class="text-white fs-5 text-decoration-none" asp-action="AdminView">
            <i class="bi bi-arrow-left-short fs-3"></i>Voltar
        </a>
        <h1 class="fw-bold display-2 text-white">@ViewData["Title"]</h1>
    </div>
    <div class="my-3">
        <form asp-action="ExportEmployeeDetail" asp-route-id="@ViewBag.RecordId">
            <button type="submit" class="btn btn-success">Gerar CSV</button>
        </form>
    </div>
</div>
<img class="position-absolute object-fit-cover w-100 h-50 top-0 z-n1" src="~/img/ArtHz.jpg" alt="Arte ilustrativa" />

<div class="bg-white container rounded-top text-center pt-3 pb-2">
    <div class="row">
        <div class="col">
            <h5>Funcionário: @Model.BiweeklyRecord.EmployeeName</h5>
        </div>
        <div class="col">
            <h5>Período: @Model.BiweeklyRecord.StartDate.ToString("dd/MM/yyyy") - @Model.BiweeklyRecord.EndDate.ToString("dd/MM/yyyy")</h5>
        </div>
        <div class="col">
            <h5>Total de Horas: @Model.BiweeklyRecord.TotalHours</h5>
        </div>
    </div>
</div>
<div class="bg-white container rounded-bottom table-responsive">
    
    <table class="table text-center align-middle">
        <thead>
            <tr>
                <th>Data</th>
                <th>Horas</th>
                <th>WBS</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var detail in Model.RecordDetails)
            {
                if (detail.Record.Hours > 0)
                {
                    <tr>
                        <td>@detail.Record.Data.ToString("dd/MM/yyyy")</td>
                        <td>@detail.Record.Hours</td>
                        <td>@detail.WBS?.Code - @detail.WBS?.Desc</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>