@model MyTE.Models.ViewModel.RecordDetailsViewModel

@{
    ViewData["Title"] = "Relatório";
    Layout = "~/Views/Shared/_LayoutCRUD.cshtml";
}
<div class="container d-flex justify-content-between align-items-end mt-3">
    <div>
        <div>
            <a class=" start-0 d-flex align-items-center gap-1 text-white fs-5 text-decoration-none" asp-action="AdminView">
                <i class="bi bi-arrow-left-short fs-3"></i>Voltar
            </a>
            <h1 class="fw-bold  text-white">@ViewData["Title"]</h1>
        </div>
        <div class="p-2 bg-white rounded d-flex justify-content-evenly w-30rem mb-3">
            <div class="">
                <small class="text-secondary">Usuário</small><br />
                @Model.BiweeklyRecord.UserEmail
            </div>
            <div class="linha"></div>
            <div class="">
                <small class="text-secondary">Período</small><br />
                @Model.BiweeklyRecord.StartDate.ToString("dd/MM/yyyy") - @Model.BiweeklyRecord.EndDate.ToString("dd/MM/yyyy")
            </div>
            <div class="linha"></div>
            <div class="">
                <small class="text-secondary">Total de horas</small><br />
                @Model.BiweeklyRecord.TotalHours
            </div>
        </div>
    </div>
    <div class="my-3">
        <a class="btn btn-primary align-content-end " asp-action="Index">Download</a>
    </div>
</div>

<img class="position-absolute object-fit-cover w-100 h-20rem top-0 z-n1" src="~/img/ArtHz.jpg" alt="Arte ilustrativa" />

<div class="container">
    <div class="scroll bg-white container rounded table-responsive max-h-20rem overflow-y-scroll">
        <table class="table text-center align-middle">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Horas</th>
                    <th>WBS</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in Model.RecordDetails)
                {
                    if (detail.Record.Hours > 0)
                    {
                        <tr>
                            <td>@detail.Record.Data.ToString("dd/MM/yyyy")</td>
                            <td>@detail.Record.Hours</td>
                            <td>@detail.WBS?.Code - @detail.WBS?.Desc</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>